body {
    color: #161616;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: currentColor;
  }
  .center-on-page {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  h1 {
    text-align: center;
    color:#fffffff5;
  }
  small {
    text-align: center;
    color:#ffffff77;
  }
  img {
    vertical-align: middle; 
  }
  /* Reset Select */
  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #2c3e50;
    background-image: none;
  }
  /* Custom Select */
  .select {
    position: relative;
    display: block;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #2c3e50;
    overflow: hidden;
    border-radius: .25em;
  }
  input {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 1em;
    color: #fff;
    cursor: pointer;
  }
  input::-ms-expand {
    display: none;
  }
  .input::after {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }button{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #2c3e50;
    background-image: none;
    width: 100%;
    height: 40px;
    margin: 0;
    margin-top: 20px;
    color: #fff;
    cursor: pointer;
    border-radius: .25em;
  }
  .button:hover{
    color: #f39c12;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  #stars {
    color:#ffffff77;
    background: url('https://axies.io/_next/image?url=%2Fimages%2Fstar.png&w=32&q=75') 0 0px / 14px 14px no-repeat;
    width: 100px;
    padding-left: 20px;
    padding-right: 5px;
}
#axs {
  color:#ffffff77;
  background: url('https://media.discordapp.net/attachments/997881299832414389/1032889184404385842/unknown.png') 0 0px / 14px 14px no-repeat;
  width: 100px;
  padding-left: 20px;
}
h2 {
  text-align: center;
  color:#ffffff2c;
  font-size: 10px;
}

h3 {
  text-align: center;
  color:#ffffffd8;
  font-size: 20px;
}